.button-style {
  display: inline-block;
  padding: rem(17) rem(56);
  border-radius: var(--border-radius);
  font-weight: 500;
  line-height: percent(26, 20);
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-red);

  @include adaptiveValue('font-size', 20, 16);
}
