.title {
  margin: 0;
  padding: 20px 10px;
  font-weight: 700;
  font-size: rem(32);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--layout-bg);
}
