.heading {
  margin: 0;
  font-weight: 700;
  margin: rem(32) 0;
  font-size: rem(42);
  line-height: percent(51, 42);
}

.heading3 {
  margin: 0;
  margin: rem(6) 0;
  font-weight: 700;
  line-height: percent(29, 24);

  @include adaptiveValue('font-size', 24, 18);
}

.paragraph2 {
  margin: 0;

  @include adaptiveValue('font-size', 16, 14);
}

.paragraph3 {
  margin: 0;

  @include adaptiveValue('font-size', 14, 12);
}
