footer {
  background: $black;
  padding: 30px 0;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      img {
        max-width: 154px;
        width: 25%;
        margin-bottom: 1rem;
      }
    }

    nav {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      a {
        margin-left: 3rem;
      }
    }
  }
}
