.header {
  background-color: var(--color-gray);
  position: sticky;
  top: 0;
  z-index: 11;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
