.navpage {
  padding: 33px 0px 31px 0px;
  display: flex;
  flex-wrap: wrap;
  color: $white;

  &__container {
    display: flex;

    & p {
      padding: 0px 5px;
    }
  }

  &__item {
    &--lastchild {
      color: $red;
    }
  }
}
