.slider {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;

  @include adaptiveValue('margin-top', 36, 20);
  @include adaptiveValue('margin-bottom', 126, 20);

  &__arrow-left,
  &__arrow-right {
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
  }

  &__arrow-left {
    margin-right: 10px;
  }
  &__arrow-right {
    margin-left: 10px;
  }

  @media (max-width: $mobile) {
    position: relative;

    &__arrow-left,
    &__arrow-right {
      z-index: 10;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &__arrow-left {
      left: 5px;
    }

    &__arrow-right {
      right: 5px;
    }
  }
}

.full-slider {
  height: 100%;
  width: 100%;

  position: relative;

  @include adaptiveValue('margin-top', 36, 20);
  @include adaptiveValue('margin-bottom', 36, 20);

  .slider__arrow-left,
  .slider__arrow-right {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider__arrow-left {
    left: 5px;
  }

  .slider__arrow-right {
    right: 5px;
  }
}
