.topnav {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 60px 5vw 12px 16vw;
  width: 79vw;
  nav {
    ul {
      list-style: none;
      display: flex;
    }
    a {
      margin-right: 2.5rem;
      justify-content: center;
      text-decoration: none;
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  #enter {
    @include button-filled(190px, 40px);
    margin-right: 2rem;
  }
  #register {
    @include button-transparent(190px, 40px);
  }
}

@media (max-width: 1420px) {
  .btn-group {
    #enter {
      @include button-filled(180px, 40px);
    }
    #register {
      @include button-transparent(180px, 40px);
    }
  }
}
