.carousel__item {
  // @include adaptiveValue('max-width', 360, 280);
  //@include adaptiveValue('min-height', 500, 360);

  & .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius);
    @include adaptiveValue('min-height', 500, 360);
  }

  &-bottom {
    margin-top: auto;
    background-color: rgba($black, 0.8);
    padding: 20px;
  }
}

.swiper[data-freemode='true'] {
  @media (max-width: 768px) {
    .carousel__item {
      min-width: 300px;
    }
  }
}
