@font-face{
	font-family: 'CenturyGothic';
	font-display: swap;
	src: url("../fonts/CenturyGothic.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'CenturyGothic-bold';
	//font-display: swap;
	src: url("../fonts/CenturyGothic-bold.ttf");
	//font-weight: bold;
	//font-style: normal;
}
