*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $white;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $gray;
  font-family: 'CenturyGothic';
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1 1 auto;
}

.container{
    width: 80vw;
    margin-left: 16vw;
}



h2{
  //font-family: 'CenturyGothic-bold';
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0em;
  margin: 80px 0 32px 0;
}

h3{
  font-weight: bold;
  font-size: 24px;
}

.two-blocks{
  display: flex;
  .left-block{
    width: 60%;
  }
  .right-block{
    width: 40%;
  }
}