.form-comment {
  margin: 45px 42px 65px 53px;

  display: flex;
  flex-direction: column;

  & input,
  & textarea {
    width: 100%;

    background-color: unset;

    border: 1px solid $gray;
    border-radius: 3px;

    padding: 15px 18px;

    font-size: 16px;
    font-weight: 400;
  }

  & input.error,
  & textarea.error {
    border-color: $red;
  }

  & textarea {
    resize: none;
    height: 157px;
  }

  &__name-user {
    margin-bottom: 32px;
  }
  &__comment {
    margin-bottom: 32px;
  }

  &__error {
    display: block;
    padding-left: 18px;
    color: $red;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 32px;

    width: 100%;

    & button {
      max-width: 200px;
    }
  }

  @media (max-width: $mobile) {
    margin: 0px;
    &__btns {
      & button {
        max-width: 100%;
      }
    }
  }
}
