@import '../../components/carousel';

@import './components/hero';
@import './components/_blogPreview';
@import './components/_search';
@import './components/_servicesCard';

.home__container {
  position: relative;
  display: grid;
  grid-template-columns: 100px auto;
}

.button-group {
  display: flex;

  @include adaptiveValue('gap', 30, 10);

  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  gap: 20px;

  @include adaptiveValue('row-gap', 84, 20);

  @include adaptiveValue('margin-top', 36, 20);
  @include adaptiveValue('margin-bottom', 126, 20);

  @media (max-width: $mobileSmall) {
    grid-template-columns: 1fr;
  }
}
