@import '../../components/carousel';

@import './components/hero';
@import './components/_blogPreview';
@import './components/_search';
@import '../../../pages/Home/styles/_servicesCard';
@import '../../../pages/Home/styles/_servicesList';
@import '../../../pages/Home/styles/_teamSlider';
@import '../../../pages/Home/styles/_teamBlock';

.home__container {
  position: relative;
  display: grid;
  grid-template-columns: 100px auto;
}

.button-group {
  display: flex;

  @include adaptiveValue('gap', 30, 10);

  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }
}
