$fontFamily: 'CenturyGothic';
$fontSize: rem(14);
$fontWeight: 400;
$lineHeight: calc(20 / 14);
$sidebarWidth: 100px;

// Min Page width
$minWidth: 320;

// Min mobile width
$minMobile: 375;

// Max design layout width
$maxWidth: 1920;

// Width of container
$maxWidthContainer: 1290;

// Container padding left + right
$containerPadding: 30;

// First breakpoint call width
$containerWidth: $maxWidthContainer + $containerPadding;
$containerFull: #{$containerWidth} + 'px';

// breakpoints
$pc: em($containerWidth);
$tablet: em(993);
$mobile: em(769);
$mobileSmall: em(480);

body {
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.container {
  flex: 1 1 auto;

  @if $maxWidthContainer>0 {
    max-width: rem($maxWidthContainer);
    margin: 0 auto;
  }

  @if $containerPadding>0 {
    padding: 0 rem(math.div($containerPadding, 2));
  }
}

.container-fluid {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: rem($maxWidth);
}

.main {
  overflow: hidden;
  grid-column: 2 / -1;
}
