:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #868686;
  --color-red: #eb3d3d;
  --color-bg: #151515;
  --border-radius: 20px;
}

$red: #e83036;
$black: #080808;
$gray: #4d4d4d;
$white: #ffffff;
