:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #4d4d4d;
  --color-red: #e83036;
  --color-bg: #151515;
  --border-radius: 6px;
}

$red: #e83036;
$black: #080808;
$gray: #4d4d4d;
$white: #ffffff;
