:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #060606;
  --color-dark: #151515;
  --color-red: #df4c4c;
  --color-bg: #151515;
  --border-radius: 6px;

  --sidebar-width: 100px;
}

$red: #e83036;
$black: #080808;
$gray: #4d4d4d;
$white: #ffffff;
