.blog-block{
    height: 250px;
    display: flex;
    margin-bottom: 40px;
    img{
        max-width: 30%;
    }
    .blog-block__info{
        padding: 10px 33px;
        background-color: $black;
        border-radius: 0 6px 6px 0;
    }
}