.hero {
  position: relative;
  height: 100vh;
  height: 100dvh;

  margin-bottom: 85px;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__content {
    max-width: 630px;
  }
}

.hero-carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &__image {
    width: 100%;
    height: 100%;
  }
}
