.search-block {
  background-color: black;
  width: 56%;
  height: 100px;
  max-width: 1070px;
  border-radius: 6px;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 10;
}

.searchModule {
  width: 33%;
  color: $white;
  overflow: hidden;
  background-color: transparent;

  input {
    padding: 15px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-right: 1px solid $white;
    background-color: transparent;
    background: url('../../../../assets/search.png') no-repeat center left;
    background-size: 30px;
    padding-left: 60px;
  }

}

.searchModule ul {
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  margin-top: 1px;
  border-radius: 3px;
  max-height: 310px;
  background-color: black;
}

.searchModule ul li {
  padding: 15px;
  background: black;
  border-bottom: 1px solid #242424;
  margin-top: 0.5px;
  position: relative;
  z-index: 100;
}

.searchModule li:hover {
  color: $white;
  border-color: rgb(41, 41, 41);
  background-color: rgb(41, 41, 41);
}
