.search-block {
  width: 100%;
  max-width: 800px;
  border-radius: 6px;
  transform: translateY(-50%);
  margin: 0 auto;
  position: relative;
  z-index: 10;

  &__button,
  &__filters {
    width: 100%;
  }

  &__button {
    text-decoration: underline;
    margin: 10px 0px 20px 0px;
    text-align: end;
  }

  &__filters {
    right: 0px;
    position: absolute;
  }
}

.search {
  padding: 20px;
  display: flex;
  color: $white;
  overflow: hidden;

  background-color: black;

  input {
    position: relative;
    padding: 15px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-right: 1px solid $white;
    background-color: transparent;
    background: url('../../../../assets/search.png') no-repeat center left;
    background-size: 30px;
    padding-left: 60px;
  }

  &__select,
  &__input {
    width: 35%;
  }
  &__button {
    width: 30%;
    & button {
      height: 100%;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    width: 35%;
    margin-top: 1px;
    border-radius: 3px;
    max-height: 310px;
    background-color: black;

    &-item {
      padding: 15px;
      background: black;
      border-bottom: 1px solid #242424;
      margin-top: 0.5px;
      position: relative;
      z-index: 100;

      &:hover {
        color: $white;
        border-color: rgb(41, 41, 41);
        background-color: rgb(41, 41, 41);
      }
    }
  }
}

@media (max-width: $tablet) {
  .search-block {
    height: 200px;
    max-width: 350px;

    transform: translateY(-75%);
  }

  .search {
    flex-direction: column;

    &__select,
    &__input,
    &__button {
      width: 100%;
    }

    &__list {
      width: 100%;
    }
  }
}
